<html>
	<title>Google News </title>
	<head>
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
		<link href="static/main.css" rel="stylesheet">
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script type=text/javascript>
  			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>

	</head>
	<body>
		<div class="container">
			<input class="input-block-level" type="text" placeholder="I want to search for" id="keyword-search" style="display:none"/>
			<div class="row">
				<div id="items">
				</div>
			</div>
		</div>
</body>
<script type="text/javascript">
	$(document).ready(function(){
			if(localStorage && localStorage.getItem('keyword')){
			data= JSON.parse(localStorage.getItem('items'));
			    $('input#keyword-search').attr('placeholder',localStorage.getItem('keyword'));
			    $.each(data,function(index,element){
				    $('div#items').append('<p><a href="'+element.link+'">'+element.title+'</a></p></br>');			
				    });
			    update_search_bar();

			    }
			    else{
			    $('input#keyword-search').css('display','block');
			 }
			});
	$(document).keypress(function(e){
			if(e.which == 13) {
			search();
			 }
			 });
function search(){
	$.getJSON($SCRIPT_ROOT+'/query',{keyword: $('input#keyword-search').val()},function(data){
			$('div#items').empty();
			$.each(data,function(index,element){
				$('div#items').append('<p><a href="'+element.link+'">'+element.title+'</a></p></br>');			
				});
				update_search_bar();
				localStorage.setItem('keyword',$('input#keyword-search').val());
				localStorage.setItem('items',JSON.stringify(data));
			});
			



}
function update_search_bar(){
		$('input#keyword-search').css('display','block');
		$('input#keyword-search').css('top','100px');
}
</script>
</html>
